header>section {
  background-color: cadetblue;
  height: 250px;
  width: 100%;
}

section#logo {
  float: left;
  margin-top: 75px;
  
  
  overflow: auto;
  max-width:100%;
  height: auto;
}

section#logo img {
  position: absolute;
  left: calc(50% - 150px);
  width: 300px;
}

nav.horizontal-nav {
  display: flex;
  float: right;
  margin-right: 5px;
  margin-top: 5px;
  vertical-align: top;
}

nav.horizontal-nav a:hover {
  background-color: rgb(218, 224, 242);
  color: rgb(17, 17, 68);
}
#welcome{
  font-size: 5em;
  font-family: 'Oswald', sans-serif;
}
#matchesontop{
  font-family:'Oswald', sans-serif;
  font-size: 8em;
  line-height: px;
  color: rgb(73, 72, 72);
  text-shadow: 2px 2px cadetblue;

}
#oldestontop {
  text-align: center;
  font-family:'Oswald', sans-serif;
  color: rgb(73, 72, 72);
  font-style: italic;
  font-size: 3em;


}
#welcomeParagraph{
  color: rgb(73, 72, 72);
  font-size: 1.5em;
  font-family:'Oswald', sans-serif;
  line-height: 35px;

}
#disclaimer{
  font-family:'Oswald', sans-serif;
  font-size: 1em;
  line-height: 45px;
  color: rgb(80, 80, 80);
}

nav.horizontal-nav a {
  border-bottom: 3px solid rgb(82, 21, 78);
  border-top: 3px solid rgb(82, 21, 78);
  color: rgb(82, 21, 78);
  font-size: 1.6em;
  padding: 15px;
}

nav.horizontal-nav a:first-child {
  border-left: 3px solid rgb(82, 21, 78);
}

nav.horizontal-nav a:not(:last-child) {
  border-right: 3px solid rgb(82, 21, 78);
}

nav.horizontal-nav a:last-child {
  border-right: 3px solid rgb(82, 21, 78);
}

h1 {
  font-size: 2.6em;
  padding: 10px;
  text-align: center;
}

h1#about-us-header {
  color: rgb(54, 54, 54);
  font-family: 'Oswald', sans-serif;
  font-size: 8em;
  line-height: 120px;
  text-align: left;
  text-align: center;
  text-shadow: 1.5px 1.5px cadetblue; 
}

section#matches-list {
  margin: 10px 0px;
}

section#intro {
  border: 4px solid cadetblue;
  border-radius: 10px;
  margin: 10px auto;
  max-width: 75%;
  padding: 5px;
  text-align: center;
}

section#intro h2 { 
  padding: 5px;
}

section#intro p {
  text-align: right;
}

section#card-match {
  align-items: center;
  display: flex;
  justify-content: center;
  vertical-align: middle;  
}



.card-front {
  backface-visibility: hidden;
  /* bottom: 0px; */
  background-color: cadetblue;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 2;
}



.cat-bio {
  color: white;
  font-size: 1.35em;
  text-align: left;
  padding: 10px;
}

section#card-match img {
  max-width: 100%;
  max-height: 100%;
}

button {
  background-color: cadetblue;
  border: none;
  color: rgb(82, 21, 78);
  display: block;
  font-size: 1.2em;
  height: 50px;
  margin-top: 20px;
  width: 125px;
}

button:hover {
  background-color: rgb(218, 224, 242);
  color: rgb(17, 17, 68);
}

footer>nav {
  align-items: center;
  border: 4px solid cadetblue;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 75%;
  padding: 0px 5px;
}

footer>nav a {
  padding: 5px;
  text-align: center;
}

footer>nav img {
  width: 50px;
}

span#footer-nav-spacer {
  width: 175px;
  
}

footer h3 {
  font-size: 1.2em;
  padding-top: 30px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  color: grey;
  

}
a {
  font-family:'Nunito', sans-serif;
  color: grey;
}

#chrispic{
  position: relative;
  bottom: 30px;
}

#chrispic:hover{
  opacity:30%;
  transition:3s;
}

#paulpic{
  position: relative;
  bottom: 20px;
}

#paulpic:hover{
  opacity:30%;
  transition:3s;
}

#lulupic:hover{
  opacity: 30%;
  transition:3s;
}


body{
  background-color: rgb(231, 231, 231);
}




section.bio img:not(.icon-image) {
  float: left;
  max-width: 250px;
  padding: 0px 10px 10px 10px;
}
#names{
  font-size:3.5em;
  font-family: 'Nunito', sans-serif;
  text-align: right;
  color: rgb(54, 54, 54);
  
 
  padding-right: 10px;
}
#meowmatch{
  color: cadetblue;
  font-size: 1.45em;
  
}
 #paul{
   color:  rgb(231, 231, 231);
   -webkit-text-stroke: 1.5px rgb(54, 54, 54);
   font-style: italic;
   }

#lulu {
  color:  rgb(231, 231, 231);
   -webkit-text-stroke: 1.5px rgb(54, 54, 54);
   font-style: italic;
}
#chris{
  color:  rgb(231, 231, 231);
   -webkit-text-stroke: 1.5px rgb(54, 54, 54);
   font-style: italic;
}

#bio-p{
  font-family: 'Nunito', sans-serif;
  color: black
}

#bio-ppaul{
  position:relative;
  line-height: 32px;
  color:  rgb(231, 231, 231);
}
#bio-ppaul:hover{
  position:relative;
  line-height: 32px;
  color:  rgb(54, 54, 54);
  transition: 5s;

}
#bio-plulu{
  line-height: 30px;
  color:  rgb(231, 231, 231);
}
#bio-plulu:hover{
  line-height: 30px;
  color:  rgb(54, 54, 54);
  transition: 5s;
}
#bio-pchris{
  line-height: 34px;
  color:  rgb(231, 231, 231);
}
#bio-pchris:hover{
  line-height: 34px;
  color:  rgb(54, 54, 54);
  transition: 5s;
}
#bio-p:hover{
  font-family: 'Nunito', sans-serif;
  color:black;
  transition: 1.5s;

}
section.bio {
  border: 4px solid cadetblue;
  border-radius: 10px;
  margin: 10px auto;
  max-width: 75%;
  padding: 5px;
  clear: left;
  overflow: hidden;
}

section.bio h3 {
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.5em;
}

section.bio p {
  font-size: 1.25em;
  margin-bottom: 10px;
  font-family: 'Nunito', sans-serif;
}

ul.bio-links {
  margin-top: 10px;
}

ul.bio-links li {
  display: inline;
}

ul.bio-links li:not(:first-child) {
  margin-left: 10px;
}

section.bio a {
  text-decoration: none;
}

span.social-link-text {
  font-size: 1.2em;
  margin-left: 5px;
  position: relative;
  bottom: 11px;
}

section.bio img.icon-image {
  width: 35px;
}

footer {
  clear: left;
}

/* Dynamically Rendered Matches */
section#matches-list {
  align-items: center;
}

section.match-section {
  max-width: 75%;
  border: 4px solid cadetblue;
  border-radius: 10px;
  margin: 10px auto;
  padding: 10px;
}

section.match-images {
  display: flex;
  justify-content: center;
}

section.match-images img {
  max-width: 30%;
  align-self: center;
  margin-bottom: 30px;
}

section.match-images img.left-match-image {
  margin-right: 15px;
}

section.match-images img.right-match-image {
  margin-left: 15px;
}

section.story-section {
  font-size: 1.2em;
  margin-bottom: 10px;
  padding: 0px 15px;
}

/* Animations */
.left-presentation {
  animation-name: leftCardPresentation;
  animation-duration: 1.0s;
}

.right-presentation {
  animation-name: rightCardPresentation;
  animation-duration: 1.0s;
}

.left-card-match {
  animation-name: matchLeftCard;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}

.right-card-match {
  animation-name: matchRightCard;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}

.left-card-non-match {
  animation-name: nonMatchLeftCard;
  animation-duration: 1.0s;
  animation-fill-mode: forwards;
}

.right-card-non-match {
  animation-name: nonMatchRightCard;
  animation-duration: 1.0s;
  animation-fill-mode: forwards;
}

.left-card-flip-to-back {
  animation-name: flipLeftCard;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.right-card-flip-to-back {
  animation-name: flipRightCard;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.left-card-flip-to-front {
  animation-name: flipLeftCard;
  animation-duration: 0.5s;
  animation-direction: reverse;
  animation-fill-mode: forwards;
}

.right-card-flip-to-front {
  animation-name: flipRightCard;
  animation-duration: 0.5s;
  animation-direction: reverse;
  animation-fill-mode: forwards;
}


/* Keyframes */

/* Presentation */
@keyframes leftCardPresentation {
  0% {
    transform: translate(-60vw, 10vw) rotate(-30deg);
  }
  100% {
    transform: translate(0%) rotate(0deg);
  }
}

@keyframes rightCardPresentation {
  0% {
    transform: translate(60vw, 10vw) rotate(30deg);
  }
  100% {
    transform: translate(0%) rotate(0deg);
  }
}

/* Match */
@keyframes matchLeftCard {
  100% {
    transform: translate(50px, -60vw) rotate(15deg);
  }
}

@keyframes matchRightCard {
  100% {
    transform: translate(-50px, -60vw) rotate(-15deg);
  }
}

/* Non-Match */
@keyframes nonMatchLeftCard {
  50% {
    transform: translate(-25vw, 50vw) rotate(-15deg);
  }
  100% {
    transform: translate(-65vw, 100vw) rotate(-60deg);
  }
}

@keyframes nonMatchRightCard {
  50% {
    transform: translate(25vw, 50vw) rotate(15deg);
  }
  100% {
    transform: translate(65vw, 100vw) rotate(60deg);
  }
}

/* 3D Rotations */
@keyframes flipLeftCard {
  100% {
    transform: rotateY(180deg);
  }
}

@keyframes flipRightCard {
  100% {
    transform: rotateY(-180deg);
  }
}